<div class="form">
    <div class="form-group">
        <label for="classe">Classe: </label>
        <select type="number" id="classe" [(ngModel)]="classe">
            <option value="1">Prima</option>
            <option value="2">Seconda</option>
            <option value="3">Terza</option>
            <option value="4">Quarta</option>
            <option value="5">Quinta</option>
        </select>
    </div>

    <div class="form-group">
        <label for="sezione">Sezione: </label>
        <input type="text" id="sezione" placeholder="Inserisci la sezione" [(ngModel)]="sezione">
    </div>

    <div class="formGroup">
        <label for="lab">Laboratorio: </label>
        <input type="checkbox" id="lab" [(ngModel)]="isLaboratorio">
    </div>

    <div class="formGroup">
        <label for="rappresentante">Rappresentante: </label>
        <input type="text" id="rappresentante" placeholder="Pino" [(ngModel)]="rappresentante">
    </div>

    <div class="formGroup">
        <label for="mascotte">Link Mascotte: </label>
        <input type="url" id="mascotte" placeholder="https://sitobel.lo/mascotte.jpg" [(ngModel)]="mascotteImg">
    </div>

    <div class="formGroup">
        <button (click)="reset()">Reset</button>
        <button (click)="newAula()">Aggiungi</button>
    </div>
</div>