<div class="form">

    <div class="form-group">
        <label for="classe">Classe:</label>
       <select id="classe" [(ngModel)]="classe">
        <option value="1">Prima</option>
        <option value="2">Seconda</option>
        <option value="3">Terza</option>
        <option value="4">Quarta</option>
        <option value="5">Quinta</option>
       </select>
    </div>

    <div class="form-group">
        <label for="sezione">Sezione:</label>
        <input type="text" placeholder="inserisci sezione" id="sezione" [(ngModel)]="sezione">
    </div>
    <div class="form-group">
        <input type="checkbox" id="laboratorio" [(ngModel)]="isLaboratorio">
        <label for="laboratorio">Laboratorio</label>
    </div>

    <div class="form-group">
        <label for="rappresentante">Nome Rappresentante:</label>
        <input type="text" id="rappresentante" placeholder="Pino" [(ngModel)]="rappresentante">
    </div>

    
    <div class="form-group">
        <label for="mascotteImg">Mascotte:</label>
        <input type="url" id="mascotteImg" placeholder="https://imgMascotte.com/lol.jpg" [(ngModel)]="mascotteImg">
    </div>

    <div class="button">
        <button (click)="aggiungiAula()">Aggiungi</button>
        <button (click)="reset()">Reset</button>
    </div>
</div>
